/.idea/
/sdcc/
/ignore/
/details/
/roms/
*.lst
*.rel
*.sym
*.ihx
*.bin

/hp4952tools/.idea/
/hp4952tools/testee.out
/monitor-vaxman/monitor.app
/monitor-vaxman/monitor.dasm
/monitor-vaxman/monitor-z80asm.app
/monitor-vaxman/monitor-z80asm.dasm
/monitor-with-disassembler/memdump.app
/monitor-with-disassembler/memdump.dasm
/hp4952tools/scripts/disassembler-cpca.asm
/hp4952tools/scripts/disassembler-z80a.app
/hp4952tools/scripts/disassembler-z80a.asm
/hp4952tools/scripts/disassembler-z80a.dasm
/hp4952tools/scripts/disdata-cpca.asm
/hp4952tools/scripts/disdata-z80a.asm
/hp4952tools/scripts/missing-cpca.asm
/hp4952tools/scripts/missing-z80a.asm
