/.idea/
/sdcc/
/ignore/
/details/
/roms/
*.lst
*.rel
*.sym
*.ihx
*.bin

/hp4952tools/.idea/
/hp4952tools/testee.out
/monitor-vaxman-hp4952a/monitor.app
/monitor-vaxman-hp4952a/monitor.dasm
/monitor-vaxman-hp4952a/monitor-z80asm.app
/monitor-vaxman-hp4952a/monitor-z80asm.dasm
/poc-monitor-with-app/memdump.app
/poc-monitor-with-app/memdump.dasm
/hp4952tools/scripts/disassembler-cpca.asm
/hp4952tools/scripts/disassembler-z80a.app
/hp4952tools/scripts/disassembler-z80a.asm
/hp4952tools/scripts/disassembler-z80a.dasm
/hp4952tools/scripts/disdata-cpca.asm
/hp4952tools/scripts/disdata-z80a.asm
/hp4952tools/scripts/missing-cpca.asm
/hp4952tools/scripts/missing-z80a.asm
/monitor-vaxman/monitor-orig-z80asm.app
/monitor-vaxman/monitor-orig-z80asm.dasm
/monitor-memdump/memdump.dasm
/monitor-memdump/memdump.app
/monitor-vt100/vt100m.app
/monitor-vt100/vt100m.dasm
/local-todo.txt
