/.idea/
/sdcc/
/ignore/
/details/
/roms/
*.lst
*.rel
*.sym
*.ihx
*.bin

/hp4952tools/.idea/
/hp4952tools/testee.out
/monitor-vaxman/monitor.app
/monitor-vaxman/monitor.dasm
/monitor-vaxman/monitor-z80asm.app
/monitor-vaxman/monitor-z80asm.dasm
/monitor-with-disassembler/memdump.app
/monitor-with-disassembler/memdump.dasm
